<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.howtojboss.gridlogz">

    <!--properties>
        <property name="jboss.api" value="unsupported"/>
    </properties-->

    <resources>
        <resource-root path="${project.build.finalName}.jar" />
    </resources>

    <dependencies>
        <module name="org.apache.httpcomponents" />
        <module name="org.codehaus.jackson.jackson-mapper-asl" />
        <module name="org.jboss.logmanager" />
    </dependencies>
</module>