<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.howtojboss.gridlogz">

    <resources>
        <resource-root path="gridlogz-common-${project.version}.jar" />
        <resource-root path="gridlogz-loghandler-${project.version}.jar" />
    </resources>

    <dependencies>
        <module name="org.apache.httpcomponents" />
        <module name="org.codehaus.jackson.jackson-mapper-asl" />
        <module name="org.jboss.logmanager" />
    </dependencies>
</module>